<mat-toolbar color="primary">
  <span>Song Library</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="d-flex m-3 justify-content-center" [formGroup]="newForm">
  <div class="px-5">
    <mat-form-field appearance="outline">
      <mat-label>Search Song Name</mat-label>
      <input formControlName="songName" matInput />
    </mat-form-field>
  </div>
  <div class="px-5">
    <mat-form-field appearance="outline">
      <mat-label>Search Artist Name</mat-label>
      <input formControlName="artistName" matInput />
    </mat-form-field>
  </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center mx-5">
  <table class="table table-hover table-striped">
    <thead class="table-primary">
      <tr>
        <th></th>
        <th scope="col" class="songName">
          Song Name
          <div class="btn-group">
            <button (click)="orderingRows('songName','asc')" type="button" class="btn btn-sm px-1 py-0">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button (click)="orderingRows('songName','none')" type="button" class="btn px-0">
              N
            </button>
            <button (click)="orderingRows('songName','desc')" type="button" class="btn btn-sm px-1 py-0">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </th>
        <th scope="col">Artist Name<div class="btn-group">
            <button (click)="orderingRows('artistName','asc')" type="button" class="btn btn-sm px-1 py-0">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button (click)="orderingRows('artistName','none')" type="button" class="btn px-0">
              N
            </button>
            <button (click)="orderingRows('artistName','desc')" type="button" class="btn btn-sm px-1 py-0">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </th>
        <th scope="col">No.of Streams<div class="btn-group">
            <button (click)="orderingRows('numberOfStreams','asc')" type="button" class="btn btn-sm px-1 py-0">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button (click)="orderingRows('numberOfStreams','none')" type="button" class="btn px-0">
              N
            </button>
            <button (click)="orderingRows('numberOfStreams','desc')" type="button" class="btn btn-sm px-1 py-0">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </th>
        <th scope="col">Release Year<div class="btn-group">
            <button (click)="orderingRows('releaseYear','asc')" type="button" class="btn btn-sm px-1 py-0">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button (click)="orderingRows('releaseYear','none')" type="button" class="btn px-0">
              N
            </button>
            <button (click)="orderingRows('releaseYear','desc')" type="button" class="btn btn-sm px-1 py-0">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </th>
        <th scope="col">Duration of Song<div class="btn-group">
            <button (click)="orderingRows('durationInSeconds','asc')" type="button" class="btn btn-sm px-1 py-0">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button (click)="orderingRows('durationInSeconds','none')" type="button" class="btn px-0">
              N
            </button>
            <button (click)="orderingRows('durationInSeconds','desc')" type="button" class="btn btn-sm px-1 py-0">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </th>
      </tr>
    </thead>
    <tbody class="table-dark">
      <tr *ngFor="let song of albumSongs">
        <td>
          <input class="form-check-label" type="checkbox" (click)="checkBoxLimit(song)" name="{{ song.songName }}"
            id="{{ song.id }}" />
        </td>
        <td class="songName">{{ song.songName}}</td>
        <td>{{ song.artistName }}</td>
        <td>{{ song.numberOfStreams }}</td>
        <td>{{ song.releaseYear }}</td>
        <td>{{song.durationInSeconds}}</td>
      </tr>
    </tbody>
  </table>

  <div class="mx-auto">
    <mat-paginator (change)="(albumSongs)" [length]="filteringAlbum.length" [pageSize]="5"
      [pageSizeOptions]="[5, 10, 15, 20]" aria-label="Select page" [showFirstLastButtons]="true"
      (page)="pageChange($event)">
    </mat-paginator>
  </div>
  <div class="d-flex justify-content-evenly mt-5" style="width: 300px;">
    <button class="btn btn-primary" (click)="openAddFunctionality()"><mat-icon>library_adddit</mat-icon></button>
    <button class="btn btn-danger" [disabled]="buttonDisabled"
      (click)="openDeleteFunctionality()"><mat-icon>delete_forever</mat-icon></button>
  </div>
</div>